<% for column in Invoice.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @invoice.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @invoice %> |
<%= link_to 'Back', :action => 'list' %>
