<%= error_messages_for 'events_person' %>

<!--[form:events_person]-->
<p><label for="events_person_last_updated">Last updated</label><br/>
<%= time_select 'events_person', 'last_updated'  %></p>
<!--[eoform:events_person]-->

