<h1>New achievements_person</h1>

<%= error_messages_for :achievements_person %>

<% form_for(@achievements_person) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', achievements_people_path %>
