<%= error_messages_for 'event' %>

<!--[form:event]-->
<p><label for="event_date">Date</label><br/>
<%= date_select 'event', 'date'  %></p>

<!--
<p><label for="event_date_text_field">Date text field (if filled out, this will override date select above.) (eventually)</label><br/>
<%= text_field 'event', 'date' %></p>
-->

<!--[eoform:event]-->
