<% for column in PaymentType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @payment_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @payment_type %> |
<%= link_to 'Back', :action => 'list' %>
