<%= error_messages_for 'blackoutdate' %>

<!--[form:blackoutdate]-->
<p><label for="blackoutdate_date">Date</label><br/>
<%= date_select 'blackoutdate', 'date'  %></p>

<p><label for="blackoutdate_track">Track</label><br/>
<%= text_field 'blackoutdate', 'track'  %></p>
<!--[eoform:blackoutdate]-->

